body {
  font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3 {
  width: 100%;
  text-align: center;
}

h2 {
  font-weight: bold;
}

.container {
  width: 400px;
  margin: 100px auto;
}

.message {
  margin-top: 50px;
}