body {
  font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3 {
  width: 100%;
  text-align: center;
}

h2 {
  font-weight: bold;
}

.container {
  width: 400px;
  margin: 100px auto;
}

.message {
  margin-top: 50px;
}

table {
  width: 100%;
}

th {
  border-bottom: 1px solid black;
}

th, td {
  width: 100px;
  text-align: center;
}

form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

form input {
  height: 50px;
  width: 70%;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

form button {
  height: 40px;
  width: 25%;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
}