body {
  font-family: 'Courier New', Courier, monospace;
}

h1, h3 {
  width: 100%;
  text-align: center;
}

h1 {
  text-transform: capitalize;
}

form {
  border-radius: 10px;
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, .1);
  width: 300px;
  height: 300px;
  margin: 100px auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

form input {
  height: 50px;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

form label {
  font-weight: bold;
}

form button {
  height: 40px;
  width: 80%;
  margin: 0px 10%;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
}